<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <p style="text-align:center;font-family:Arial,serif;//
    font-size:28px;font-style:italic;color-"#123""><b>Topics covered in the assignments:</b><p>
    <head>
    <body>
    <p>Week 1, 2: Introduction, What is computer science, //
    Why Python, Python basics,</p>
    <p> control flow,types; What is an algorithm, searching, pseudocode</p>
    <p>Week 3, 4: Functions, I/O, math, sorting, lists, Files, Case study 1</p>
    <p>Week 5, 6: Dictionaries, sets, advanced list types, Case study 2</p>
    <p>Week 7, 8: Case study 3, python concepts necessary for case study 3</p>
    <p>Week 9, 10: Object Orientation, case study 4</p>
    <p>Week 11, 12: Case study 5, advanced topics, where to go from here</p>
    </body>
</html>


