<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <p style="text-align:center;font-family:Arial,serif;font-size:28px;font-style:italic;"><b>Taken Classes:</b><p>
    <head>
    <body>
    
    <p>FA20 BIOT 4200  BIOPHARMACEUTICAL DEV & R <p> 
    <p>SP20 BUSI 3021  MARKETING MANAGEMENT      <p>   
    <p>SP20 BUSI 3701  STRATEGY FORMULATION        <p> 
    <p>FA20 BUSI 3703  LEADERSHIIP IN ORGANIZATI    <p>
    <p>FA19 ECON 3025  FINANCIAL ECONOMICS          <p>
    <p>FA18 ECON 3211  INTERMEDIATE MICROECONOMI    <p>
    <p>FA18 ECON 3212  INTER MICROECONOMICS-DISC    <p>
    <p>FA18 ECON 3213  INTERMEDIATE MACROECONOMI    <p>
    <p>FA18 ECON 3214  INTER MACROECONOMICS-DISC    <p>
    <p>FA20 ECON 3265  MONEY AND BANKING            <p>
    <p>SP19 ECON 3412  INTRODUCTION TO ECONOMETR    <p>
    <p>SP19 ECON 3413  INTRO TO ECONOMETRICS-DIS    <p>
    <p>SU20 ECON 4251  INDUSTRIAL ORGANIZATION      <p>
    <p>SP19 ECON 4280  CORPORATE FINANCE            <p>
    <p>SU20 ECON 4400  LABOR ECONOMICS              <p>
    <p>SU19 ECON 4415  GAME THEORY                  <p>
    <p>SU20 ECON 4465  PUBLIC ECONOMICS             <p>
    <p>SU20 ECON 4500  INTERNATIONAL TRADE          <p>
    <p>FA19 ECON 4911  PRIVATE EQUIT&HEDGE FUND     <p>
    <p>FA20 ELEN 1101  THE DIGITAL INFORMATION A    <p>
    <p>SP20 ENGI 1006  INTRO TO COMP FOR ENG/APP    <p>
    <p>SP18 ENGL 1007  ADV ACAD WRITING FOR GS      <p>
    <p>FA18 ENGL 1010  UW FOR INTERNATIONAL STUD    <p>
    <p>SP18 ENGL 3166  17TH CENTURY PROSE AND PO    <p>
    <p>FA20 ENGL 3943  ENGLISH TRANSLTNS OF THE     <p>
    <p> SP18 GEST 0005 UNIVERSITY STUDIES           <p>
    <p> SU18 HIST 4779 AFRICA AND FRANCE            <p>
    <p> SP19 HUMA 1121 MASTERPIECES OF WESTERN      <p>
    <p> SP20 HUMA 1123 MASTERPIECES OF WESTERN M    <p>
    <p> FA19 IEOR 2261 ACCOUNTING AND FINANCE       <p>
    <p> SU20 ITAL 1101 ELEMENTARY ITALIAN I         <p>
    <p> SP18 MATH 1101 CALCULUS I                   <p>
    <p> SU18 MATH 1201 CALCULUS III                 <p>
    <p> FA20 SOCI 3324 GLOBAL URBANISM              <p>
    <p> FA20 STAT 1001 INTRO TO STATISTICAL REAS    <p>
    <p> FA18 STAT 1201 CALC BASED INTRO TO STAT     <p>  
    </body>
</html>
