<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Elena Lomako (UNI:EL2936)</b><p>
    <p>Contact details:<b> ElenaLomako@columbia.edu</b><p>
    <p> I am a junior student at Columbia University majoring in Financial Economics.<p>
    <p> Last semester I have taken a coding class where I learned the basics of python<p>
    <p> For moer details about the class please visit the assignments page below.<p>
    <a href="http://127.0.0.1:5000/assignments">Assignments</a>
    <a href="https://edition.cnn.com/">Visit My Favorite News Website</a>
    <a href="http://127.0.0.1:5000/classes">Classes</a>
   
    </body>
</html>
