<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <figure>
    <image src ="{{ url_for("static",filename = "Elena Lomako.jpg")}}"alt="Image" height="168" width="168">
    </figure>
    <p><b>Elena Lomako (UNI:EL2936)</b><p>
    <p>Contact details:<b> ElenaLomako@columbia.edu</b><p>
    <p> I am a junior student at Columbia University majoring in Financial Economics.<p>
    <p> Last semester I have taken a coding class where I learned the basics of python.<p>
    <p> For more details about the class please visit the assignments page below.<p>
    <p> Please visit the classes pages to see the list of completed classes.<p>
    <figure {display:inline-block;}>
    <p><a href="https://edition.cnn.com/">Visit My Favorite News Website</a><p>
    <p><a href="http://127.0.0.1:5000/assignments">Assignments</a><p>
    <p><a href="http://127.0.0.1:5000/classes">Classes</a><p>
    
    </body>
</html>
